*.config
*.dtbcache
*.lock
/Pod/.vs/Mizan.Sample.MvcWeb/v16/Server/sqlite3
*.suo
/*/*/bin/
/*/*/obj/Debug/*
/*/*/obj
/Pod/Mizan.Sample.MvcWeb/Mizan.Sample.MvcWeb.csproj.user
*.ide
*.ide-shm
*.ide-wal
